.root{
    -fx-background-color: #222222;
}

/*.listPane,*/ .itemListMenu, .itemListBorder, .infoPane, .addItemPane, .itemList > .viewport{/*viewport refers to the ScrollPane which has its own background*/
    -fx-background-color: #424242;
}

.infoPane, .addItemPane, .itemList, .itemDisplay{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.listPane, .infoPane, .itemDisplayInfoBorder{
    -fx-padding: 5px 5px 5px 5px;/*top right bottom left*/
}

.itemDisplayBackground, .itemDisplayInfoBorder{
    -fx-fill: #999999;
}

.itemDisplayInfo{
    -fx-font-size: 12pt;
    -fx-font-color: #FF0000;
}

.itemName{
    -fx-font-size: 15pt;
    -fx-background-color: #999999;
}

.itemName:hover{
    -fx-background-color: #BBBBBB;
}

.itemName:pressed{
    -fx-background-color: #EEEEEE;
}