.root{
    -fx-background-color: #222222;
}

/*.listPane, */ .itemListMenu, .itemListBorder, .infoPane, .addItemPane, .itemList > .viewport{/*viewport refers to the ScrollPane which has its own background*/
    -fx-background-color: #424242;
}

.itemList{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.listPane{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.infoPane, .addItemPane{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.itemName{
    -fx-font-size: 15pt;
    -fx-fill: #999999;
}
