.root{
    -fx-background-color: #222222;
}

.itemListMenu, .itemListBorder, .infoPane, .editPane, .addItemPane{
    -fx-background-color: #424242;
}

.infoPane, .editPane, .addItemPane, .itemList, .itemDisplay, .addItemFieldsBorder, .editItemFieldsBorder{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.listPane, .editPane, .addItemPane, .itemDisplay,
.addItemMenu, .editItemMenu, .editItemFields, .addItemFields, .itemListMenu,
.infoPane, .editItemFieldsBorder, .itemListBorder, .addItemFieldsBorder, .itemDisplayInfoBorder{
    -fx-padding: 5px 5px 5px 5px;/*top right bottom left*/
}

.itemListPlaceHolder, .itemDisplayBackground{
     -fx-fill: #999999;
}

.itemDisplayInfoBorder, .editItemFieldsBorder, .addItemFieldsBorder{
    -fx-alignment: top-left;
    -fx-background-color: #999999;
}

.itemDisplayDescription, .itemList .list-cell, .itemDisplayPriority,
.itemDisplayDate, .itemDisplayName, .priorityLabel,
.prioritySelector, .editDescription, .setDescription, .editName, .setName{
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.setPriority, .editPriority{
    -fx-alignment: center-left;
}

.itemList .list-cell {
    -fx-background-color: #999999;
    -fx-alignment: center;
}

/*
.sortBy .arrow-button {
    -fx-padding: 0 0 0 -7;
}

.sortBy .arrow, .sortBy .arrow-button{
    -fx-background-color: transparent;
}
*/

.bodyButton, .addNewButton, .sortBy, .filterBy{
    -fx-font-size: 15pt;
    -fx-background-color: #999999;
}

.bodyButton:hover, .addNewButton:hover, .sortBy:hover, .filterBy:hover, .itemList .list-cell:hover{
    -fx-background-color: #BBBBBB;
}

.bodyButton:pressed, .addNewButton:pressed, .sortBy:pressed, .filterBy:pressed, .itemList .list-cell:pressed,
.itemList .list-cell:selected{
    -fx-background-color: #EEEEEE;
}

.itemList .list-cell:empty{ /*When there is extra room, the ListView populates it with empty cells, which were being highlighted by other css*/
    -fx-background-color: #999999;
}