.root, .deleteConfirmationDialog{
    -fx-background-color: #222222;
}

.paneBorder, .pane{
    -fx-background-color: #424242;
}

.pane, .itemList, .itemDisplay, .contentBorder{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.pane, .itemDisplay, .editItemFields, .addItemFields,
.paneBorder, .contentBorder, .itemDisplayInfoBorder{
    -fx-padding: 5px 5px 5px 5px;/*top right bottom left*/
}

.itemListPlaceHolder, .itemDisplayBackground{
     -fx-fill: #999999;
}

.itemDisplayInfoBorder, .contentBorder{
    -fx-alignment: top-left;
    -fx-background-color: #999999;
}

.itemList .list-cell, .bodyText{
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-fill: black;
}

.centerPriorityLabel{
    -fx-alignment: center-left;
}

.itemList .list-cell {
    -fx-background-color: #999999;
    -fx-alignment: center;
}

/*
.comboBoxMenu .arrow-button {
    -fx-padding: 0 0 0 -7;
}

.comboBoxMenu .arrow, .comboBoxMenu .arrow-button{
    -fx-background-color: transparent;
}
*/

.button, .comboBoxMenu{
    -fx-background-color: #999999;
}

.button, .comboBoxMenu, .deleteConfirmationDialog *.header-panel, .comboBoxMenu .cell{
    -fx-font-size: 15pt;
    -fx-text-fill: black;
}

.deleteConfirmationDialog > *.label.content{
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.button:hover, .comboBoxMenu:hover, .itemList .list-cell:hover{
    -fx-background-color: #BBBBBB;
}

.button:pressed, .comboBoxMenu:pressed, .itemList .list-cell:pressed, .itemList .list-cell:selected{
    -fx-background-color: #EEEEEE;
}

/*
.lowPriorityItemCell{
    -fx-background-color: #ADAD7A;
}

.mediumPriorityItemCell{
    -fx-background-color: #AD8F7A;
}

.highPriorityItemCell{
    -fx-background-color: #AD7A7A;
}

.finishedItemCell{
    -fx-background-color: #7AAD7A;
}
*/

.itemList .list-cell:empty{ /*When there is extra room, the ListView populates it with empty cells, which were being highlighted by other css*/
    -fx-background-color: #999999;
}