.root{
    -fx-background-color: #222222;
}

/*.listPane,*/ /*.addItemFields,*/ .itemListMenu, .itemListBorder, .infoPane, .addItemPane{
    -fx-background-color: #424242;
}

.infoPane, .addItemPane, .itemList, .itemDisplay{
    -fx-background-insets: 5px 5px 5px 5px;/*top right bottom left*/
}

.listPane, .addItemPane, .itemDisplay,
.addItemMenu, .addItemFields, .itemListMenu,
.infoPane, .addItemFieldsBorder, .itemDisplayInfoBorder{
    -fx-padding: 5px 5px 5px 5px;/*top right bottom left*/
}

.itemListPlaceHolder, .addItemFieldsBackground, .itemDisplayBackground, .addItemFieldsBorder, .itemDisplayInfoBorder{
     -fx-fill: #999999;
}
.itemDisplayInfoBorder, .addItemFieldsBorder{
    -fx-alignment: top-left;
}

.itemDisplayDescription, .itemList .list-cell, .itemDisplayPriority,
.itemDisplayDate, .itemDisplayName, .priorityLabel,
.prioritySelector, .setDescription, .setName{
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.setPriority{
    -fx-alignment: center-left;
}

.itemList .list-cell {
    -fx-background-color: #999999;
    -fx-alignment: center;
}

/*
.sortBy .arrow-button {
    -fx-padding: 0 0 0 -7;
}

.sortBy .arrow, .sortBy .arrow-button{
    -fx-background-color: transparent;
}
*/

.addNewButton, .sortBy, .filterBy, .saveNewItemButton, .editItemButton,
.cancelItemAddition, .deleteItemButton{
    -fx-font-size: 15pt;
    -fx-background-color: #999999;
}

.addNewButton:hover, .sortBy:hover, .filterBy:hover, .itemList .list-cell:hover,
.editItemButton:hover, .saveNewItemButton:hover, .deleteItemButton:hover,
.cancelItemAddition:hover{
    -fx-background-color: #BBBBBB;
}

.addNewButton:pressed, .sortBy:pressed, .filterBy:pressed, .itemList .list-cell:pressed,
.itemList .list-cell:selected, .editItemButton:pressed, .deleteItemButton:pressed,
.saveNewItemButton:pressed, .cancelItemAddition:pressed{
    -fx-background-color: #EEEEEE;
}

.itemList .list-cell:empty{ /*When there is extra room, the ListView populates it with empty cells, which were being highlighted by other css*/
    -fx-opacity: 0;
}